*{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    
}

a{
	
    cursor: url(../Imagenes/Hola.png), auto; 

}

header{
    width: 100%;
    cursor: url(../Imagenes/Hola.png), auto; 
}
.navegacion{
   
	width: 100%;
    height:190px;
    transition: 3s;
    background-image:  url(../Imagenes/logo.png),url(../Imagenes/mundi.jpg);
    background-size: 120px 180px, 100% ;
    background-position: 99% 10px, 0 -00px;
    background-repeat: no-repeat;
    text-align: center;
    transition: 3s;
    margin: auto;
}


.navegacion:hover{
    width: 100%;
    height: 600px;
    transition: 3s;
    background-image:  url(../Imagenes/logo.png),url(../Imagenes/mundi.jpg);
    background-size: 120px 180px, 100% ;
    background-position: 99% 10px, 0 -190px;
    background-repeat: no-repeat;
    text-align: center;
    transition: 3s;
}

.navegacion ul{
	list-style: none;
    
}

.menu > li{
	position: relative;
	display: inline-block;
   
}

.menu > li > a{
	display: block;
	padding: 15px 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 25px;
    font-weight: 900;
    color: black;
	top: 0px;
    border: 2px yellow solid;
    border-radius: 10px;
    
    
}

.leyendas{
    transition: 2s;
    animation: efecto 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
    @keyframes efecto{
        0%{
            text-shadow: -0px -2px 5px rgb(4, 255, 0), 0px 3px 5px rgb(0, 225, 255)0px -2px 5px rgb(0, 26, 255);
            transition: 2s;
        }
        25%{
            text-shadow: -0px -2px 5px rgb(68, 0, 255), 0px 3px 5px rgb(183, 0, 255),-0px -2px 5px rgb(255, 0, 255);
            transition: 2s;
        }
        50%{
            text-shadow: -0px -2px 5px rgb(255, 0, 85), 0px 3px 5px rgb(255, 0, 0),-0px -2px 5px rgb(255, 0, 191);
            transition: 2s;
        }
        75%{
            text-shadow: -0px -2px 5px rgb(187, 0, 255), 0px 3px 5px rgb(85, 0, 255),-0px -2px 5px rgb(0, 64, 255);
            transition: 2s;
        }
        100%{
            text-shadow: -0px -2px 5px rgb(0, 136, 255), 0px 3px 5px rgb(0, 255, 242),-0px -2px 5px rgb(0, 255, 94);
            transition: 2s;
        }
}
.leyendas:hover{
    transition: 3s;
    color: white;
    background: conic-gradient(rgba(255, 255, 255, 0.911), rgba(34, 255, 0, 0.894));
    border-radius: 15px;
}

.leyendas:hover> a{
  
    animation: uno 2s;
    animation-timing-function:initial;
    animation-iteration-count: infinite;

}
    @keyframes uno{
        0%{
            color: white;
            transition: 2s;
        }
        25%{
            color: rgb(68, 0, 255) ;
            transition: 2s;
        }
        50%{
            color: rgb(0, 255, 242) ;
            transition: 2s;
        }
        75%{
            color: rgb(0, 255, 94) ;
            transition: 2s;
        }
        100%{
            color: rgb(183, 0, 255);
            transition: 2s;
        }
}


.ParrafoSegundo::first-letter{ 
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
}
.ParrafoSegundos::first-letter{ 
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.ParrafoSegundos{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.ParrafoSegundo{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-top: -30px;
}
.CuartoP{
    background-color: rgba(245, 245, 245, 0.5);
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.CuartoP::first-letter{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.cero::first-letter{ 
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.parafcuarto::first-letter{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.parafcuarto{
    background-color: rgba(0, 207, 244, 0.669);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.parafcinco{
    background-color: rgba(160, 159, 246, 0.581);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.parafcinco::first-letter{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.parrafofin{
    background-color: rgba(247, 255, 9, 0.564);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.parrafofin::first-letter{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.cero{
    background-color: rgba(6, 61, 243, 0.445);
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-top: -30px;
}

legend{
    color: white;
    text-decoration: double;
    text-align: center;
    font-size: 35px;
    text-shadow: -0px -2px 5px rgb(0, 136, 255), 0px 3px 5px rgb(0, 255, 242),-0px -2px 5px rgb(0, 255, 94);

}
.negro{
    color: black;
}

.Fase{
    margin: auto;
    text-align: center;
    border: 1px solid white;
    height: 150px;
    width: 40%;
    margin-bottom: -140px;
    color: white;
 
}
.Fase2{
    visibility: visible;
    color: white;
    
}
table{
    border: 2px solid white;
}

.tabla, .tabla2{
    visibility: hidden;
    color: white;

}
.va{
    color: white;
    font-size: 30px;
}

#Información:checked ~ .tabla2{
    visibility: visible;
    text-align: center;
    margin-top: -200px;
}

#Información:checked ~ .tabla  {
    text-align: center;
    margin: auto;
    height: 1px;
    width: auto;
    transition: 5s;
    visibility: visible;
    height: auto;
    animation: tabla 5s;
    animation-timing-function: linear;

    
}


#Información:checked ~ .Fase {
   
    visibility: hidden;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    height: 100px;
    width: 45%;

}
#Información:checked ~ .Fase2{
    visibility: hidden;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    height: 150px;
    width: 45%;

}

.Clasificado{
    border: 1px solid black;
    border-spacing: 0ch;
    background-color: rgba(0, 195, 255, 0.747);
}
td{
    border-spacing: 0;
    border: none;
}

section {
    transition: 2s;
    margin: auto;
    display: flex;
    width: 700px;
    height: 420px;
}
section:hover {
    border: yellow 2px solid;
    box-shadow: -0px -2px 5px yellow, 0px 3px 5px yellow,-0px -2px 5px yellow;

}

section img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 1s;
}

section  img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.Imagen1{
width: 30px;
height: 20px;}

.oro{
    text-align: center;
    font-size: 80px;
    animation: Oro 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
    @keyframes Oro{
        0%{
            text-shadow: -0px -2px 5px rgb(255, 0, 0), 0px 3px 5px rgb(255, 123, 0),-0px -2px 5px rgb(255, 217, 0);
            transition: 3s;
        }
        25%{
            text-shadow: -0px -2px 5px rgb(255, 251, 0), 0px 3px 5px rgb(255, 166, 0),-0px -2px 5px rgb(251, 255, 0);
            transition: 3s;
        }
        50%{
            text-shadow: -0px -2px 5px rgb(255, 230, 0), 0px 3px 5px rgb(255, 174, 0),-0px -2px 5px rgb(255, 0, 191);
            transition: 3s;
        }
        75%{
            text-shadow: -0px -2px 5px rgb(255, 166, 0), 0px 3px 5px rgb(255, 208, 0),-0px -2px 5px rgb(255, 0, 191);
            transition: 3s;
        }
        100%{
            text-shadow: -0px -2px 5px rgb(255, 0, 0), 0px 3px 5px rgb(255, 123, 0),-0px -2px 5px rgb(255, 217, 0);
            transition: 3s;
        }
}
.Titulo{
    text-decoration: underline;
    text-align: center;
    animation: Text 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 80px;
    
}
    @keyframes Text{
        0%{
            text-shadow: -0px -2px 5px rgb(174, 255, 0), 0px 3px 5px rgb(0, 255, 149),-0px -2px 5px rgb(204, 255, 0);
            transition: 3s;
        }
        25%{
            text-shadow: -0px -2px 5px rgb(0, 225, 255), 0px 3px 5px rgb(162, 0, 255),-0px -2px 5px rgb(187, 255, 0);
            transition: 3s;
        }
        50%{
            text-shadow: -0px -2px 5px rgb(0, 255, 136), 0px 3px 5px rgb(102, 255, 0),-0px -2px 5px rgb(255, 0, 191);
            transition: 3s;
        }
        75%{
            text-shadow: -0px -2px 5px rgb(0, 255, 21), 0px 3px 5px rgb(0, 195, 255),-0px -2px 5px rgb(255, 0, 191);
            transition: 3s;
        }
        100%{
            text-shadow: -0px -2px 5px rgb(174, 255, 0), 0px 3px 5px rgb(0, 255, 149),-0px -2px 5px rgb(204, 255, 0);
            transition: 3s;
        }
}

/*TABLA DE OCTAVOS*/
.visible{
    margin: auto;
    text-align: center;
    height: 100px;
    width: 40%;
    margin-bottom: -100px;
}

.Octavo{
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
}

.oculto {
    visibility: hidden;
}

.Cuartos{
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
}

#Informacion:checked ~ .oculto  {
    visibility: visible;
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
    margin-top: -120px;
    margin-bottom: 100px;
    
}

    
#Informacion:checked ~ .visible {
    visibility: hidden;
}

/*TABLA DE CUARTOS */
.ver{
    margin: auto;
    text-align: center;
    height: 100px;
    width: 40%;
    margin-bottom: -10px;
}

.antecuarto{
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;

}
.ocultado{
    visibility: hidden;
    margin-bottom: -300px;
}
.ocultados{
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
}

#Informaciones:checked ~ .ocultado{
    visibility: visible;
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
    margin-top: -150px;
    margin-bottom: 300px;

}

#Informaciones:checked ~ .ver{
    visibility: hidden;
}
#Informaciones:checked ~ .Video2{
    visibility: visible;
    margin-left: 40%;
    margin-top: -50px;
}
/*TABLA DE Semi */
.ver2{
    margin: auto;
    text-align: center;
    height: 100px;
    width: 40%;
    margin-bottom: -10px;
}

.semis{    
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
}
.ocultatre{
    visibility: hidden;
    margin-bottom: -300px;
}
.ocultatres{
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
}
#Informa:checked ~ .ocultatre{
    visibility: visible;
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
    margin-top: -150px;
    margin-bottom: 300px;

}
#Informa:checked ~ .ver2{
    visibility: hidden;
}
#Informa:checked ~ .Video3{
    visibility: visible;
    margin-left: 40%;
    margin-top: -50px;
}


/*Final */

.ver4{
    margin: auto;
    text-align: center;
    height: 100px;
    width: 40%;
    margin-bottom: -95px;
    
}

.finalmuno{    
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
}
.ocultarfin{
    visibility: hidden;
  
}
.ocultarfines{
    
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
}
#Informafin:checked ~ .ocultarfin{
    visibility: visible;
    margin: auto;
    text-align: center;
    height: 200px;
    width: 40%;
    margin-top: -120px;
    padding-bottom: 100px;

}
#Informafin:checked ~ .ver4{
    visibility: hidden;
}


.ganador{
    animation: bordes 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes bordes{
    0%{
        text-shadow: -0px -2px 5px rgb(174, 255, 0), 0px 3px 5px rgb(0, 255, 149),-0px -2px 5px rgb(204, 255, 0);
        transition: 3s;
    }
    25%{
        text-shadow: -0px -2px 5px rgb(0, 225, 255), 0px 3px 5px rgb(162, 0, 255),-0px -2px 5px rgb(187, 255, 0);
        transition: 3s;
    }
    50%{
        text-shadow: -0px -2px 5px rgb(0, 255, 136), 0px 3px 5px rgb(102, 255, 0),-0px -2px 5px rgb(255, 0, 191);
        transition: 3s;
    }
    75%{
        text-shadow: -0px -2px 5px rgb(0, 255, 21), 0px 3px 5px rgb(0, 195, 255),-0px -2px 5px rgb(255, 0, 191);
        transition: 3s;
    }
    100%{
        text-shadow: -0px -2px 5px rgb(174, 255, 0), 0px 3px 5px rgb(0, 255, 149),-0px -2px 5px rgb(204, 255, 0);
        transition: 3s;
    } 
}
.undiv{
    margin-top: -54px;
    background: url(../Imagenes/Fondodiv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}
.dosdiv{
    margin-top: -54px;
    background: url(../Imagenes/dosdiv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}
.Tercerdiv{
    margin-top: -10px;
    background: url(../Imagenes/divtercero.jpg);
    background-position: 0 -150px ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
}
.divcuarto{
    margin-top: -10px;
    background: url(../Imagenes/cuartodiv.jpg);
    background-position: 0 -200px ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
}
.quintodiv{
    margin-top: -10px;
    background: url(../Imagenes/divfinal.jpg);
    background-position: 0 -200px ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: white;
}
.Divfinal{
    margin-top: -10px;
    background: url(../Imagenes/Brasilcampeon.jpg);
    background-position: 0 -200px ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-top: 10px;
    color: white;
    margin-bottom: -22px;
}

.divdel{
    background-color: blue;
}


.ParfLeyendas{

    background-color: aqua;
    text-align: center;
}


#imagen1{

    margin: auto;
}
